<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configuración DHCP</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="../css/materialize.css"
      media="screen,projection"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/conf-style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey darken-4">
          <a href="../pages/home.html" class="brand-logo">IAR</a>
        </div>
      </nav>
    </header>

    <main>
      <div class="conf-container">
        <h4>Configuración DHCP</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input
                  placeholder="Placeholder"
                  id="first_name"
                  type="text"
                  class="validate"
                />
                <label for="first_name" class="active">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" />
                <label for="last_name" class="active">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  disabled
                  value="I am not editable"
                  id="disabled"
                  type="text"
                  class="validate"
                />
                <label for="disabled" class="active">Disabled</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" />
                <label for="password" class="active">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" />
                <label for="email" class="active">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                This is an inline input field:
                <div class="input-field inline">
                  <input id="email_inline" type="email" class="validate" />
                  <label for="email_inline" class="active">Email</label>
                  <span
                    class="helper-text"
                    data-error="wrong"
                    data-success="right"
                    >Helper text</span
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Proyecto Final de Redes II</h5>
            <p class="grey-text text-lighten-4">
              Sistema de Administración de Servicios en Red
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Integrantes</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Bautista García Hadad</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Meza Madrid Damián</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Jurado Macías Samuel Alejandro</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Copyright Text
        </div>
      </div>
    </footer>
  </body>
</html>
