<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Configuración DHCP</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.css"
      media="screen,projection"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/conf-style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey darken-4">
          <a href="/home" class="brand-logo">IAR</a>
        </div>
      </nav>
    </header>

    <main>
      <div class="conf-container">
        <h4>Configuración DHCP</h4>
        <div class="row">
          <ul class="collapsible" id="collap">
            <li value="3">
              <div class="collapsible-header my-add">
                <a class="waves-effect waves-light btn addBtn">
                  <i class="material-icons right">add</i>
                </a>
              </div>
            </li>
                </ul>
              </div>
            </li>
          </ul>
          <button
          class="btn waves-effect waves-light right"
          type="submit"
          name="action"
          id="btn_sv_dhcp"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
          
        </div>
      </div>
    </main>
   

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Proyecto Final de Redes II</h5>
            <p class="grey-text text-lighten-4">
              Sistema de Administración de Servicios en Red
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Integrantes</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Bautista García Hadad</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Meza Madrid Damián</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Jurado Macías Samuel Alejandro</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Copyright Text
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/get_dhcp.js"></script>
  </body>
</html>
