<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="css/home-style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo">IAR</a>
      </div>
    </nav>

    <main>
      <div class="grid">
        <div class="home-title">
          <h2>Configurar Servicios:</h2>
        </div>
        <div class="cards-container">
          <a href="routers" class="card hoverable">
            <div class="card-image">
              <img src="images/backup.png" alt="" />
            </div>
            <div class="card-text">
              <h4>TFTP</h4>
            </div>
          </a>
          <a href="dnsConf" class="card hoverable">
            <div class="card-image">
              <img src="../images/dns.png" alt="" />
            </div>
            <div class="card-text">
              <h4>DNS</h4>
            </div>
          </a>
          <a href="dhcpConf" class="card hoverable">
            <div class="card-image">
              <img src="../images/dhcp.png" alt="" />
            </div>
            <div class="card-text">
              <h4>DHCP</h4>
            </div>
          </a>
        </div>
        <div></div>
        <div>
          <img class="main-image" src="../images/net.png" alt="" />
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Proyecto Final de Redes II</h5>
            <p class="grey-text text-lighten-4">
              Sistema de Administración de Servicios en Red
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Integrantes</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Bautista García Hadad</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Meza Madrid Damián</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!"
                  >Jurado Macías Samuel Alejandro</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Copyright Text
        </div>
      </div>
    </footer>
  </body>
</html>
