<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NetAdmin</title>
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="css/index-style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo">IAR</a>
      </div>
    </nav>

    <main>
      <div class="grid">
        <div class="head-title">
          <h1>
            Interfaz de <br />
            Administración <br />
            de Redes
          </h1>
        </div>
        <div class="login">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content white-text">
              <span class="card-title">Iniciar Sesión:</span>
              <div class="row">
                <form action="" class="col s12">
                  <div class="row">
                    <div class="input-field">
                      <input
                        placeholder="Usuario"
                        id="username"
                        type="text"
                        class="validate"
                      />
                      <label class="active" for="username">Usuario:</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field">
                      <input
                        placeholder="Contraseña"
                        id="password"
                        type="password"
                        class="validate"
                      />
                      <label class="active" for="password">Contraseña:</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-action">
                <a href="home">
                  <button
                    class="btn waves-effect waves-light right"
                    type="submit"
                    name="action"
                  >
                    Submit
                    <i class="material-icons right">send</i>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="image-container">
          <img
            class="main-image hide-on-med-and-down"
            src="/images/net.png"
            alt=""
          />
          <img
            class="second-image hide-on-large-only"
            src="/images/pngfuel.com.png"
            alt=""
          />
        </div>
      </div>
    </main>
  </body>
</html>
