body {
  background-color: #cad2c5;
}

.nav-wrapper {
  padding-left: 2%;
}

.page-footer {
  background-color: #354f52;
}

.conf-container {
  margin: auto;
  padding: 1%;
  width: 80%;
  background-color: antiquewhite;
  border-radius: 10px;
}

main {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.my-collection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.my-colapsible {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-add {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.my-btn {
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.my-btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
  border-radius: 5px;
}

.my-btnR {
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

.my-btnR:hover {
  background-color: #4caf50; /* Green */
  color: white;
  border-radius: 5px;
}
